@charset "UTF-8";
/**MAPS**/
/**Extends**/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

/**Mixin**/
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h2 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline; }

body {
  background-image: url(../imagenes/siluet.jpg);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: right; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6014a7), to(#e912ba));
  background-image: linear-gradient(#6014a7, #e912ba);
  color: white; }
  header .indexBarra {
    margin: 1%; }
    header .indexBarra h1 .container {
      text-align: center;
      font-size: 20px; }
    header .indexBarra .imagenInicial {
      width: 65px;
      margin-top: -1%; }
    header .indexBarra .tamañoTexto {
      font-size: 6px;
      font-family: 'Roboto', sans-serif;
      margin-top: -2%;
      color: white; }
  header nav {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6014a7), to(#e912ba));
    background-image: linear-gradient(#6014a7, #e912ba);
    text-decoration: none;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: -4%;
    color: white; }
    header nav #navbarNav {
      color: white;
      font-size: 20px;
      margin-left: 20%;
      margin-right: 5%; }
    header nav .navbar-nav {
      color: white; }
      header nav .navbar-nav .nav-item {
        padding: 5px;
        color: white; }
        header nav .navbar-nav .nav-item .nav-link {
          color: white; }
        header nav .navbar-nav .nav-item a {
          color: white;
          text-decoration: none; }

footer {
  background-image: linear-gradient(#6014a7, #e912ba);
  color: white;
  height: 20hv;
  height: 140px;
  width: 100%;
  width: 100%;
  align-items: center; }
  footer p {
    display: flex; }
  footer ul {
    display: flex; }
    footer ul li {
      list-style: none;
      margin: 4%; }
      footer ul li a {
        color: #6014a7;
        display: inline; }

@media only screen and (max-width: 550px) {
  body {
    background-image: none; }
  .navigator {
    margin: 1%; }
  footer .pageBottom {
    list-style: none;
    height: 60px;
    position: absolute;
    bottom: 0; }
  .imagenInicial {
    display: none; }
  .tamañoTexto {
    display: none; } }

@media only screen and (max-width: 400px) {
  footer ul {
    display: flow-root;
    font-size: x-small; } }

main .nos .imgText {
  height: 300px;
  width: 250px; }

main .nos .karim {
  text-align: center; }

@media only screen and (max-width: 550px) {
  .nos .imgText {
    height: 250px;
    width: 250px; } }

.galeria .carousel {
  width: 100%; }

.galeria .videoG {
  width: 900px;
  height: 300px;
  margin: 3%; }

@media only screen and (max-width: 550px) {
  .galeria .videoG {
    width: 300px;
    height: 200px;
    margin: 5%; } }

main .row .contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  padding: 3%;
  justify-content: center;
  align-items: center; }

main .row img {
  margin: 5%; }

.table {
  border: 8px; }

@media only screen and (max-width: 550px) {
  table {
    display: none; } }

.vidIlustrativo {
  height: 500px; }
