
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/** INICIO**/
.imagenInicial{
    width: 65px;
    margin-top: -1%;
    

}
.tamañoTexto{
    font-size: 6px;
    font-family:'Roboto', sans-serif;
    margin-top: -4%;
 
  
}
header {
  
    background-image: linear-gradient(rgb(96, 20, 167), rgb(233, 18, 186));    
    color:white;
    text-align: left;
    height: 18vh;
    width: 100%;
}
body{
    background-image: url(/imagenes/siluet.jpg);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: right;
    
  }

.pageBottom{

    background-image: linear-gradient(rgb(96, 20, 167), rgb(233, 18, 186));
    color:white;
    height: 20hv;
    list-style: none; 
}

.pageBottom  ul{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
}

/**GALERIA DE IMAGENES**/
.carousel{
    width: 50%;
}

.video1,.video2,.video3{
    width: 500px;
    height: 300px;
    margin: 5%;
    margin-left: 350px;
    align-items: center;
}
 
footer{
  
        background-image: linear-gradient(rgb(96, 20, 167), rgb(233, 18, 186));
        color:white;
        height: 20hv; }

/**PAGINA GALERIA**
.gal{
    display:flex;
    flex-flow: nowrap;
    text-decoration: underline;
    margin-top:-5%;
    text-align: center;
    }
    
    .galeria{
        object-fit:contain;
        align-items: center;
        object-fit: cover;
      
    }
    
    .galeriaContenedor1{
        display: flex;
        object-fit: cover;
        width: 1100px;
        height: 300px;
        overflow-x: scroll;
    }
    .galeriaContenedor2{
        display: flex;
        object-fit:cover;
        width: 1100px;
        height: 300px;
        overflow-x: scroll;
    }
    .galeriaContenedor3{
        display: flex;
        object-fit: cover;
        width: 1100px;
        height: 300px;
        overflow-x: scroll;
       
    }
    .video1,.video2,.video3{
        width: 500px;
        height: 300px;
        margin: 5%;
        margin-left: 350px;
        align-items: center;
    }
     
    .p1,.p2,.p3{
        font-size: 15px;
        font-family:'Roboto', sans-serif;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .gal1{
    
        width:100%;
        height: 800px;
        object-fit:cover;
        transition: transform 1s;
        
    }**/

.anuncios{

    flex-direction:column;
    justify-content:center;
}
.anuncios a{
    border: solid 4px rgba(0, 0, 0, 0.884);
    padding: 2%;
    color: beige;
    text-decoration: none;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
}
.anuncios a :hover{
    background-color: aquamarine;
    color: aliceblue;
}
/** INICIO**/ 
.molaImage{
    height: 300px;
    width: 100px;

 
}
**NOSOTROS**/
.imgText{
    height: 100vh;
    width: 250px;
}
.titulo2{
    transform: rotate(90);
}
.nos{
    margin:3%;
}


/**
@media only screen and (min-width:300px) and (max-width:500px){
.pBottom{
    text:none;
}


}**/

.profes{
    vertical-align: middle;
    line-height: 50px;
    text-align:start; 
}