
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h2{
  @include order(text-align,font-size,text-decoration)
}
body{
    background-image: url(../imagenes/siluet.jpg);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: right;
}
header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6014a7), to(#e912ba));
    background-image: linear-gradient(#6014a7, #e912ba);
    color: $colorPrincipal;
    
     
    .imagenInicial{
      
        width:  map-get($tamanios, ancho2);
        margin-top: -1%;
        
    
    }
    .tamañoTexto{
        font-size: 6px;
        font-family:'Roboto', sans-serif;
        margin-top: -4%;
        color:$colorPrincipal; 
     
      
    }
        nav{  
            background-image: -webkit-gradient(linear, left top, left bottom, from(#6014a7), to(#e912ba));
            background-image: linear-gradient(#6014a7, #e912ba);
            text-decoration: none;
            margin-left: 10%;
            margin-right: 2%;
           
            #navbarNav{
            color: $colorPrincipal;
            font-size: 30px;
           
        }
        .navbar-nav {
            color: $colorPrincipal;
            .nav-item {
                margin: 3px;
            
                a{
                    color: $colorPrincipal;
                    text-decoration: none; 
                }
               
            }
           
        }
    }
 
      
    
}

.pageBottom {

    background-image: linear-gradient(rgb(96, 20, 167), rgb(233, 18, 186));
    color: $colorPrincipal;
    height:map-get($tamanios, alto2);
    list-style: none;
    height: 60px;
    
    ul{
        @extend %flexRow;
        width:map-get($tamanios, ancho1);
        align-items: center;
        list-style: none;
        
    }  
}
