.galeria{
    
   
       .carousel{
       width: 100%;
       }
   
       .videoG {
           width: 1100px;
           height: 300px;
           margin: 3%;
     }
}

@media only screen and (max-width:550px){
    .galeria{
        .videoG{
      
            width: 300px;
            height: 200px;
            margin: 5%;
           
        }
    }
}
