.galeria{
    
    .carousel{
    width: 50%;
    }

    .video1,.video2,.video3{
        width: 500px;
        height: 300px;
        margin: 5%;
        margin-left: 350px;
        align-items: center;
    }
}