.galeria{
    
    .carousel{
    width: 50%;
    }

    .videoG {
        width: 500px;
        height: 300px;
        margin: 5%;
        margin-left: 350px;
        align-items: center;
    }

}

@media only screen and (max-width:550px){
    .galeria{
        .videoG{
      
            width: 300px;
            height: 200px;
            margin: 5%; 
            margin-left: 110px;
        }
    }
}
