main{
    .row{
      
        .contenido{
            @include flexbox(flex,row,wrap,padding);
            justify-content: center;
            align-items:center;
        }

        img{
            margin: 5%;
        }
    }
   


}
.info{
    align-items: center;
    
    width: 90%;
}
.table{
    align-items: center;
    border: 8px;
    width: 90%;
 
}
@media only screen and (max-width:550px){
    
    table{
        display: none;
    }
}