main{
    .row{
        padding: 3%;
        .contenido{
            @include flexbox(flex,row,nowrap,padding)
            
        }
    }
   
}
@media only screen and (max-width:550px){
    
    .contenido{
        display: column;
        width: 400px;
        height: 500px;
    }
    .table{
        display:none;
    }
}

    

@media only screen and (max-width:200px){
   
    .contenido{
        width: 250px;
        height: 350px;
    }
}