main{
    
    .nos {
   
        .imgText{
            height: 300px;
            width: 250px;
        }
        .karim{
            text-align: center;
        }
}
}

@media only screen and (max-width:550px){
    
    .nos {
      
       
    
        .imgText{
            height: 250px;
            width: 250px;
        }
    }
}
