main{
    
    .nos {
   
        .imgText{
            height: 300px;
            width: 300px;
            margin-top: 15%;
        }
        .karim{
            text-align: center;
        }
}
}

@media only screen and (max-width:400px){
    
    .nos {
        background-image: none;
      .imgText{
          display: none;
      }
   
    
    
    }
}
